



/* !utility bg e border */
/* ?no boodstrap */
/* border */
.my-brd-red{
    border: 1px dashed red;
}
.my-brd-blue{
    border: 1px dashed blue;
}
.my-brd-green{
    border: 1px dashed green;
}
.my-brd-yellow{
    border: 1px dashed yellow;
}
.my-brd-black{
    border: 1px dashed black;
}
.my-brd-gray{
    border: 1px dashed gray;
}
.my-brd-white{
    border: 1px dashed white;
}

/* backgroun color  */
.my-bg-rb{
    background-color: royalblue;
}
.my-bg-bw{
    background-color: brown;
}
.my-bg-bv{
    background-color: blueviolet;
}
.my-bg-yg{
    background-color: yellowgreen;
}
.my-bg-gr{
    background-color: goldenrod;
}
/* !ALTEZZE */
.my-he-10{
    height: 10px;
}
.my-he-20{
    height: 20px;
}
.my-he-30{
    height: 30px;
}
.my-he-40{
    height: 40px;
}
.my-he-50{
    height: 50px;
}
.my-he-100{
    height: 100px;
}
.my-he-150{
    height: 150px;
}
.my-he-200{
    height: 200px;
}
.my-he-250{
    height: 250px;
}
.my-he-300{
    height: 300px;
}
.my-he-400{
    height: 400px;
}
.my-he-500{
    height: 500px;
}
.my-he-600{
    height: 600px;
}